
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.DS_Store

playwright/.auth

# directories created after test run with allure (for reporting)
allure-results/
allure-report/
